.app {
}
/* TOP AREA */

.top {
    text-transform: uppercase;
    color: var(--top);
    background-color: var(--bg-top);
}

.top > * {
    padding: 0;
}

.top > h1 {
    padding: 10px;
    text-align: left;
    width:300px;
}

.teams {
    flex: 2;
}

.menu {
    width:300px;
}

.teams a, .menu a {
    position: relative;
    display: inline-block;
    height:100%;
    margin: 0 10px;
    padding: 15px;
    text-decoration: none;
    border: 2px solid transparent;
}

.teams a:hover {
    color: var(--top);
    background-color: var(--bg-top);
}

.teams a[data-tid="1"] {
    color: #fff;
    border-color: #0099CC;
    background-color: #0099CC66;
}
.teams a[data-tid="2"] {
    color: #fff;
    border-color: #CC0000;
    background-color: #CC000066;
}
.teams a[data-tid="3"] {
    color: #fff;
    border-color: #CCCC00;
    background-color: #CCCC0066;
}
.teams a[data-tid="4"] {
    color: #fff;
    border-color: #9944CC;
    background-color: #9944CC66;
}

.teams a.active, .teams a:active {
    background-color: #00000033;
    box-shadow: 0px -10px 20px 15px #FFFFFF;
    /*transform: scale(1.5);*/
}

.teams a {
    width: 250px;
}

.teams a span {
    position: absolute;
    top:0;
    right:0;
    height: 100%;
    padding: 1em;
    background-color: #00000033;
}

