<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mon titre</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/app.js"></script>
    </head>

    <body>
        <div id="vue">
            <header>
                <h1>{{ pageTitle }}</h1>
            </header>
            <main>
                {{ renderBody }}
                <button id="btn">CLICK</button>
                <br>
                <input v-model="pageTitle">
                <br>
                <input v-model="year">
            </main>
            <footer>
                <p>&copy; Copyright ARFP {{ year }}</p>
                <p>Crédits</p>
                <div v-for="author in authors">
                    <p>{{ author }}</p>
                </div>
                <div v-if="isActive">Ceci est affiché !</div>
                <div v-if="year > 2025">Après 2025</div>
            </footer>
        </div>
    </body>

</html>