<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tedi Flip Quiz</title>
        <link rel="stylesheet" href="assets/gui.css">
        <link rel="stylesheet" href="assets/game.css">
        <script src="assets/vue.js"></script>
        <script src="assets/models.js"></script>
        <script src="assets/db.js"></script>
        <script src="assets/game.js"></script>
        <script src="assets/app.js"></script>
        <script src="assets/ui.js"></script>
    </head>
    <body>
        <main id="app" class="app">
            <section id="top" class="row top">
                <h1>{{ game.quiz.quiz_theme }}</h1>
                <div class="row teams">
                    <a v-for="team in game.teams" v-bind:class="{ active: team.isActive }" :data-tid="team.id" href="#">{{ team.name }} <span>{{ team.score }}</span></a>
                </div>
                <div class="row menu">
                    <a href="" id="end">Quit</a>
                </div>
            </section>
            <section id="message" class="message">
                <span v-if="game.db.ready">{{ message }}</span v-if="game.db.ready">
                <span class="animate" v-else>Loading...</span>
            </section>
            <section id="game" class="game">
                <article id="config" v-bind:class="{ active: game.db.ready }">
                    <h2>
                        Configuration
                        <button v-if="gameReady" v-on:click="startQuiz">Start</button>
                    </h2>
                    <div class="row">
                        <fieldset id="configTeams">
                            <legend>Number of teams</legend>
                            <div class="row">
                                <a class="btn btn-danger" href="#" v-on:click="setTeams(0)" v-if="game.teams.length > 0">-</a>
                                <a class="btn btn-success" href="#" v-on:click="setTeams(1)">+</a>
                                </div>
                            <div class="config-team" v-for="team in game.teams">
                                <h3>Team #{{ team.id }}</h3>
                                <input v-model="team.name">
                            </div>
                        </fieldset>
    
                        <fieldset v-if="game.teams.length > 0" id="configQuiz">
                            <legend>Quiz selection</legend>
                            
                            <div v-for="quiz in game.db.quizzes">
                                <input :value="quiz.quiz_id" type="radio" name="gq" v-on:click="setQuiz"> 
                                {{ quiz.quiz_theme }}
                            </div>
                        </fieldset>                       
                    </div>
                    
                                      
                    
                </article v-if="game.db.ready">
            </section>

            


            


        </main>
    </body>
</html>