* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #111;
}

header, main {
    width: 1200px;
    margin: 1em auto;
    border: 1px solid #111;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
}

header > article, main > article {
    border: 1px solid #611;
    margin: 10px 1em;
    width: 180px;
    height: 40px;
    text-align:center;
}

main > article {
    border: 1px solid #166;
    margin: 10px 1em;
    height: 100px;
}

header > article:hover, main > article:hover {
    cursor: pointer;
}

.p1 {
    background-color: #FFC;
}

.p2 {
    background-color: #FCF;
}

.p3 {
    background-color: #FFC;
}

.p4 {
    background-color: #CCF;
}

.p5 {
    background-color: #CFC;
}